SITE_URL=http://myblog.org
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=465
SMTP_USER=smtpuser
SMTP_PASS=smtppass
S3_KEYID=s3keyid
S3_ACCESSKEY=s3accesskey
S3_BUCKET=ghostbucket
S3_REGION=us-east-1
PG_HOST=db.myblog.org
PG_USER=dbuser
PG_PASS=dbpass
PG_DB=dbname
PG_PORT=5432
SITE_HOST=0.0.0.0
SITE_PORT=2368
